body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style definition in header area with navigation bar */
.menu {
  width: 100%;
  background-color: yellow;
  height: 100px;
  text-align: center;
  position: fixed;
}

/* Style definition in navigation bar */
nav {
  display: flex;
  justify-content: center;
}

/* Style definition in <a> tags inside navigation bar */
nav a {
  color: red;
  font-size: larger;
  font-weight: bold;
  padding: 2% 3%;
  text-decoration: none;
}

/* Style definition to body area */
.contenedor {
  padding-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  background-color: white;
  padding: 1.5%;
  border: 1px solid gray;
  width: 150px;
  margin: 15px;
  border-radius: 5px;
}

.producto img {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

h3, p {
  padding-bottom: 10%;
}

h3 {
  font-size: larger;
  font-weight: bold;
}

p, a{
  font-size: small;
}