body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  width: 100%;
  background-color: yellow;
  height: 100px;
  text-align: center;
  position: fixed;
}

.menu > a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  padding-inline: 3%;
  display: flexbox;
}

.contenedor {
  min-height: 100%;
  display: flex;
  grid-template-columns: 50px, 100px, 100px;
  grid-template-rows: auto;
}
